# dependencies
node_modules/

# production build
/dist

# local env files
.env*

# OS files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Astro cache
.astro/

# VSCode
.vscode/

# SASS cache
.sass-cache/
RAW/