---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import '../styles/design-system.css';

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

---

<section class="hero mt-24 mb-32">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-14 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="hero-title">Stephen Christopher</h1>
        <h2 class="hero-subtitle">Anthropologist of Religion</h2>
        <p class="short-bio max-w-xl text-center md:text-left mb-6">
          I am an anthropologist of religion, specializing in Himalayan tribes, the Tibetan diaspora and global Buddhism. My research focuses on how minority religions engage with the state. I have taught over 1,000 students in nine universities and co-lead a major digital humanities project on new religiosity.
        </p>
        <div class="flex flex-col gap-2 md:flex-row justify-center items-center w-full mt-4 mb-2">
          <a class="btn has-icon cv-btn text-center w-full" style="width:100%" href="/cv">
            <Icon name="lucide:file-text" />
            Full CV
          </a>
          <a class="btn has-icon contact-btn text-center w-full" style="width:100%" href="mailto:stephenchristopher110@gmail.com">
            <Icon name="lucide:mail" />
            Contact
          </a>
        </div>
      </div>
      <Image
        class="lg:block hero-img mx-auto lg:ml-auto lg:mr-0"
        src="/portrait.jpg"
        alt="Portrait of Stephen Christopher"
        decoding="async"
        width={520}
        height={520}
        loading="eager"
      />
    </div>
  </div>
</section>

